-i https://pypi.org/simple/
asgiref==3.2.3
construct==2.5.3
django-haystack==2.8.1
django-mdeditor==0.1.17.1
django==2.1.4
future==0.18.2
jieba==0.42.1
jinja2==2.11.1
markdown==3.2.1
markupsafe==1.1.1
pefile==2019.4.18
pygments==2.7.4
pymysql==0.9.3
python-ptrace==0.9.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
whoosh==2.7.4
