asgiref==3.2.3
construct==2.5.3
Django==2.2.10
django-haystack==2.8.1
django-mdeditor==0.1.17
future==0.18.2
jieba==0.42.1
Jinja2==2.11.1
Markdown==3.2.1
MarkupSafe==1.1.1
pefile==2019.4.18
Pygments==2.6.1
PyMySQL==0.9.3
python-ptrace==0.9.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
Whoosh==2.7.4
