{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Fred-{{article.title}}</title>
{% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/monokai.css' %}">
    <script type='text/javascript' src="{% static 'js/jquery-2.2.4.min-2.2.4.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/axios-0.18.0.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'layui/layui.js'%}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <link rel='stylesheet' id='wbs-style-dwqr-css' href="{% static 'css/wbp_donate.css'%}" type='text/css' media='all'>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <meta name="description" content="{{article.desc}}">
{% endblock %}

{% block content %}
    <div class="site-content">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-9">
                    <div class="content-area">
                        <main class="site-main">
                            <article id="post-131" class="article-content">
                                <div class="container">
                                    <div id="crumbs">
                                        首页 &raquo; <a href="{% url 'article:category_article' article.category1.id %}">{{article.category1.name}}</a>&raquo; <a href="{% url 'article:category_article' article.category2.id %}">{{article.category2.name}}</a> &raquo;<span>{{article.title}}</span>
                                    </div>
                                    <div class="cao_entry_header">
                                        <header class="entry-header">
                                            <h1 class="entry-title"><a href="" rel="bookmark">{{article.title}}</a></h1>
                                        </header>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="entry-wrapper">
                                        <div class="entry-content u-text-format u-clearfix">
                                            <div id="output_wrapper_id" class="output_wrapper" style="font-size: 16px; color: #3e3e3e; line-height: 1.6; word-spacing: 0px; letter-spacing: 0px; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;">
                                                <blockquote style="line-height: inherit; display: block; padding: 15px 15px 15px 1rem; font-size: 0.9em; margin: 1em 0px; color: #819198; border-left: 6px solid #dce6f0; background: #f2f7fb; overflow: auto; word-wrap: normal; word-break: normal;">
                                                    <p style="font-size: inherit; color: inherit; line-height: inherit; padding: 0px; margin: 0px; text-indent: 20px">
                                                        {{article.des}}
                                                    </p>
                                                </blockquote>
                                            </div>
                                            <div>
                                                {{article.content | safe}}
                                            </div>
                                            <div class="wbp-cbm">
                                                <div class="ctrl-item">
                                                    <a class="wb-btn wb-btn-ctrl wb-btn-outlined" id="J_ppoDonateBtn" data-ppo-name="#J_ppoDonate">
                                                        <svg class="wb-icon wbsico-donate">
                                                            <use xlink:href="#wbsico-donate"></use>
                                                            <symbol id="wbsico-donate" viewBox="0 0 9 18">
                                                                <path fill-rule="evenodd" d="M5.63 8.1V4.61c.67.23 1.12.9 1.12 1.58S7.2 7.3 7.88 7.3 9 6.86 9 6.2a3.8 3.8 0 0 0-3.38-3.83V1.12C5.63.45 5.17 0 4.5 0S3.37.45 3.37 1.12v1.24A3.8 3.8 0 0 0 0 6.2C0 8.55 1.8 9.45 3.38 9.9v3.49c-.68-.23-1.13-.9-1.13-1.58S1.8 10.7 1.12 10.7 0 11.14 0 11.8a3.8 3.8 0 0 0 3.38 3.83v1.24c0 .67.45 1.12 1.12 1.12s1.13-.45 1.13-1.12v-1.24A3.88 3.88 0 0 0 9 11.8c0-2.36-1.8-3.26-3.38-3.7zM2.25 6.19c0-.79.45-1.35 1.13-1.58v2.93c-.8-.34-1.13-.68-1.13-1.35zm3.38 7.2v-2.93c.78.34 1.12.68 1.12 1.35 0 .79-.45 1.35-1.13 1.58z"></path>
                                                            </symbol>
                                                        </svg>
                                                        <span>打赏</span></a>
                                                    <a class="wb-btn wb-btn-ctrl wb-btn-outlined wb-btn-like" onclick="validate_is_like( '{% url 'article:article_star' article.id %}', {{ article.id }}, {{ article.digg_count }} )">
                                                        <svg class="wb-icon wbsico-like">
                                                            <use xlink:href="#wbsico-like"></use>
                                                            <symbol id="wbsico-like" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M13.3 6H9V2c0-1.5-.8-2-2-2-.3 0-.6.2-.6.5L4 8v8h8.6c1.3 0 2.4-1 2.6-2.3l.8-4.6c.1-.8-.1-1.6-.6-2.1-.5-.7-1.3-1-2.1-1M0 8h2v8H0z"></path>
                                                            </symbol>
                                                        </svg>
                                                        <span id="likes_number">赞({{article.digg_count}})</span>
                                                    </a>
                                                    <div class="com-popover pst-c pst-fixed wb-dialog-df wb-ppo-donate" id="J_ppoDonate">
                                                        <div class="bd" id="J_tabBoxDWQ">
                                                            <div class="tab-navs">
                                                                <div class="tab-nav-item item-weixin current">
                                                                    <span>微信</span>
                                                                </div>
                                                                <div class="tab-nav-item item-alipay">
                                                                    <span>支付宝</span>
                                                                </div>
                                                            </div>
                                                            <div class="tab-conts">
                                                                <div class="tab-cont current">
                                                                    <div class="pic">
                                                                        <img src="/static/picture/weimoney.JPG" alt="微信二维码图片">
                                                                    </div>
                                                                    <p>
                                                                        用<span class="hl">微信</span>扫描二维码打赏
                                                                    </p>
                                                                </div>
                                                                <div class="tab-cont">
                                                                    <div class="pic">
                                                                        <img src="/static/picture/paymoney.JPG" alt="支付宝二维码图片">
                                                                    </div>
                                                                    <p>
                                                                        用<span class="hl">支付宝</span>扫描二维码打赏
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="wb-ppo-close">
                                                            <svg class="wb-icon wbsico-close">
                                                                <use xlink:href="#wbsico-close"></use>
                                                                <symbol id="wbsico-close" viewBox="0 0 18 18">
                                                                    <path fill-rule="evenodd" d="M17.61.39a1.24 1.24 0 0 0-1.8 0L9 7.2 2.19.39C1.67-.13.9-.13.39.39s-.52 1.28 0 1.8L7.2 9 .39 15.81a1.24 1.24 0 0 0 0 1.8c.25.26.51.39.9.39s.64-.13.9-.39L9 10.8l6.81 6.81c.26.26.65.39.9.39s.65-.13.9-.39c.52-.51.52-1.28 0-1.8L10.8 9l6.81-6.81c.52-.52.52-1.29 0-1.8z"></path>
                                                                </symbol>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry-tags">
                                            {% for label in article.labels.all %}
                                                <a href="{% url 'article:label_article' label.id %}" rel="tag">{{label.name}}</a>
                                            {% endfor %}
                                        </div>
                                        <div class="article-copyright">
                                            Fred一个90后小青年，热爱生活和旅游，喜欢冒险。爱自己，你要活得无可替代并精彩绝伦，世界那么大不如去看看它，人活着不只有眼前的苟且，还有诗和远方，以爱与青春为名，陪你一路成长，不失初心，不忘初衷!
                                            <br>
                                            <a href="/">Fred</a> &raquo;
                                            <a href="{% url 'article:detail' article.id %}">{{article.title}}</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <div class="bottom-area">
                                <div id="comments" class="comments-area">
                                    <!--PC版-->
{#                                    <div id="SOHUCS" sid="{{ article.id }}" ></div>#}
{#                                    <script type="text/javascript">#}
{#                                        (function(){#}
{#                                            var appid = 'cyurPKNuR';#}
{#                                            var conf = 'prod_40f065b65d473b2fd62db802aa069635';#}
{#                                            var width = window.innerWidth || document.documentElement.clientWidth;#}
{#                                            if (width < 960) {#}
{#                                                var head = document.getElementsByTagName('head')[0]||document.head||document.documentElement;#}
{#                                                var script = document.createElement('script');#}
{#                                                script.type = 'text/javascript';#}
{#                                                script.charset = 'utf-8';#}
{#                                                script.id = 'changyan_mobile_js';#}
{#                                                script.src = 'https://cy-cdn.kuaizhan.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf;#}
{#                                                head.appendChild(script);#}
{#                                            } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://cy-cdn.kuaizhan.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); #}
{#                                    </script>#}
                                    <div id="vcomments"></div>
                                    <script>
                                        new Valine({
                                            el: '#vcomments',
                                            appId: '8RAiz6Xm7jzdI96U8P3IOEFE-gzGzoHsz',
                                            appKey: 'kmzowSbNHgrQjbmNC4v3hfDT',
                                            placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!',
                                        })
                                    </script>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
                <div class="sidebar-column col-lg-3">
                    <aside class="widget-area">
                        <div id="search-2" class="widget widget_search">
                            <form method="get" class="search-form inline" action="{% url 'article:search' %}">
                                <input type="search" class="search-field inline-field" placeholder="输入关键词，回车..." autocomplete="off" value="" name="q" required="required">
                                <button type="submit" class="search-submit"><i class="mdi mdi-magnify"></i></button>
                            </form>
                        </div>
                        <div id="media_image-2" class="widget widget_media_image">
                            <h5 class="widget-title">加入我们</h5>
                            <img width="747" height="1024" src="/static/picture/qq.png" class="image wp-image-144 attachment-large size-large" alt="" style="max-width: 100%; height: auto;" srcset="/static/picture/qq.png 747w, /static/picture/qq.png 219w, /static/picture/qq.png 768w, /static/picture/qq.png 1080w" sizes="(max-width: 747px) 100vw, 747px">
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h5 class="widget-title">标签云</h5>
                            <div class="tagcloud">
                                {% for label in labels_and_count %}
                                    <a href="{% url 'article:label_article' label.label.id %}" class="tag-cloud-link tag-link-106 tag-link-position-1" style="font-size: 8pt;" aria-label="JS (1个项目)">{{label.label.name}}<span class="tag-link-count"> ({{label.article_count}})</span></a>
                                {% endfor %}
                            </div>
                        </div>
                        {% if links %}
                            <div id="linkcat-89" class="widget widget_links">
                                <h5 class="widget-title">友情链接</h5>
                                <ul class='xoxo blogroll'>
                                    {% for link in links %}
                                        <li><a href="{{link.url}}">{{link.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </aside>
                </div>
            </div>
        </div>
        <div class="bottom-area bgcolor-fff">
            <div class="container medium">
                <div class="related-posts">
                    <h3 class="u-border-title">相关推荐</h3>
                    <div class="row">
                        {% for article in related_articles %}
                            <div class="col-lg-6">
                                <article class="post">
                                    <div class="entry-media">
                                        <div class="placeholder" style="padding-bottom: 66.666666666667%;">
                                            <a href="/article/detail/{{article.id}}">
                                                <img class="lazyload" data-src="{{article.cover}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="entry-wrapper">
                                        <header class="entry-header">
                                            <div class="entry-meta">
									<span class="meta-author">
									<a href="#"><img alt='' data-src='{{article.author.avatar}}' class='lazyload avatar avatar-40 photo ' height='40' width='40'>{{article.author.nickname}}</a>
									</span>
                                            </div>
                                            <h4 class="entry-title"><a href="/article/detail/{{article.id}}" rel="bookmark">{{article.title}}</a></h4>
                                        </header>
                                        <div class="entry-excerpt u-text-format">
                                            <p>
                                                {{article.des}}
                                            </p>
                                        </div>
                                        <div class="entry-footer">
                                            <a href="javascript:;"><time datetime="2019-07-12T14:12:46+08:00"><i class="fa fa-clock-o"></i>{{article.create_time | date:'Y年m月d日'}}</time></a>
                                            <a href="javascript:;"><span><i class="fa fa-eye"></i>{{article.view_count}}</span></a>
                                            <a href="javascript:;"><span><i class="fa fa-star-o"></i>{{article.digg_count}}</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {%  endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script type='text/javascript' src="{% static 'js/jquery.fancybox.min-4.9.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/wbp_front-1.1.0.js' %}"></script>
    <script async="async" type='text/javascript' src="{% static 'js/form-4.0.1.js' %}"></script>
    <script>
        //一般直接写在一个js文件中
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer
                ,form = layui.form;
        });
    </script>
    <script>
        // 点赞功能主函数
        function validate_is_like(url, id, likes) {
            // 取出 LocalStorage 中的数据
            let storage = window.localStorage;
            const storage_str_data = storage.getItem("my_blog_data");
            let storage_json_data = JSON.parse(storage_str_data);
            // 若数据不存在，则创建空字典
            if (!storage_json_data) {
                storage_json_data = {}
            };
            // 检查当前文章是否已点赞。是则 status = true
            const status = check_status(storage_json_data, id);
            if (status) {
                layer.msg('已经点过赞了哟~');
                // 点过赞则立即退出函数
                return;
            } else {
                // 用 Jquery 找到点赞数量，并 +1
                var starCount = likes + 1
                $('span#likes_number').text('赞('+starCount+')');
            }
            // 用 ajax 向后端发送 post 请求
            $.post(
                url,
                // post 只是为了做 csrf 校验，因此数据为空
                {},
                function(result) {
                    if (result === 'success') {
                        // 尝试修改点赞数据
                        try {
                            storage_json_data[id] = true;
                        } catch (e) {
                            window.localStorage.clear();
                        };
                        // 将字典转换为字符串，以便存储到 LocalStorage
                        const d = JSON.stringify(storage_json_data);
                        // 尝试存储点赞数据到 LocalStorage
                        try {
                            storage.setItem("my_blog_data", d);
                        } catch (e) {
                            // code 22 错误表示 LocalStorage 空间满了
                            if (e.code === 22) {
                                window.localStorage.clear();
                                storage.setItem("my_blog_data", d);
                            }
                        };
                    } else {
                        layer.msg("与服务器通信失败..过一会儿再试试呗~");
                    }
                }
            );
        };
        // 辅助点赞主函数，验证点赞状态
        function check_status(data, id) {
            // 尝试查询点赞状态
            try {
                if (id in data && data[id]) {
                    return true;
                } else {
                    return false;
                }
            } catch (e) {
                window.localStorage.clear();
                return false;
            };
        };
    </script>
{% endblock %}