<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <title>Aliwen小栈-首页</title>

    <link rel='stylesheet' id='poi-player-css' href="{% static 'css/poi-2.0.5.css' %}" type='text/css' media='all'>
    <link rel='stylesheet' id='caozhuti-style-css' href="{% static 'css/style-4.9.css' %}" type='text/css' media='all'>
    <link rel='stylesheet' id='external-css' href="{% static 'css/external-4.9.css' %}" type='text/css' media='all'>
    <link rel='stylesheet' id='sweetalert2-css' href="{% static 'css/sweetalert2.min-4.9.css' %}" type='text/css' media='all'>
    <link rel='stylesheet' id='app-css' href="{% static 'css/app-4.9.css' %}" type='text/css' media='all'>
    <link rel='stylesheet' id='diy-css' href="{% static 'css/diy-4.9.css' %}" type='text/css' media='all'>
    <script type='text/javascript' src="{% static 'js/jquery-2.2.4.min-2.2.4.js' %}"></script>


    <style>
        .themepark_advertisement img {
            max-width: 100%;
            height: auto;
        }

        .themepark_advertisement .alignleft {
            display: inline;
            float: left;
            margin-right: 0;
        }

        .themepark_advertisement .alignright {
            display: inline;
            float: right;
            margin-left: 0;
        }

        .themepark_advertisement .aligncenter {
            clear: both;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .themepark_advertisement {
            width: 100%;
            height: 1000px;
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 0;
            z-index: 100000;
            text-align: center;
        }

        .themepark_advertisement_ba {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            overflow: hidden;
            background: #000;
            opacity: 0.5;
            filter: Alpha(opacity=40);
        }

        .themepark_advertisement_in {
            border-radius: 10px;
            max-width: 90%;
            width: auto;
            height: auto;
            background: #FFF;
            padding: 0 10px 10px 10px;
            position: relative;
            margin-top: 65px;
            box-shadow: 0 0 5px #000000;
            display: inline-block;
            z-index: 2;
        }

        .themepark_advertisement_in_mo {
            display: none;
        }

        .themepark_advertisement_close {
            width: 100%;
            height: 30px;
            position: relative;
        }

        .themepark_advertisement_close_in {
            width: 30px;
            height: 30px;
            background: #4783f5;
            position: absolute;
            color: #FFF;
            line-height: 30px;
            text-align: center;
            top: 10px;
            right: 0px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            border-radius: 50px;
        }

        @media screen and (min-width: 200px) and (max-width: 700px) {
            #themepark_advertisement_in_mo {
                display: block;
            }

            #themepark_advertisement_in_pc {
                display: none;
            }

            #themepark_advertisement_in {
                width: auto;
                height: auto;
                margin-top: 55px;
            }
        }
    </style>

    <meta name="keywords" content="Aliwen,Aliwen小栈,小栈,aliwen.vip">
    <meta name="description" content="Aliwen小栈，她是一个服务于小众的聚集地，用最执着的文字， 说最不奢求完美的故事。">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
    <!-- ww.aliwen.vip Baidu tongji analytics -->
</head>

<body class="home blog paged paged-2  hfeed modular-title-2 navbar-sticky_transparent navbar-slide sidebar-none pagination-infinite_button paged-previous">

<div class="site">

    <header class="site-header">
        <div class="container">
            <div class="navbar">
                <div class="logo-wrapper">
                    <a href="/">
                        <img class="logo regular tap-logo" src="/static/picture/d72c2fe0ed4f457.png" data-dark="" alt="Aliwen小栈">
                    </a>
                </div>
                <div class="sep"></div>
                <nav class="main-menu hidden-xs hidden-sm hidden-md">
                    <ul id="menu-menu-1" class="nav-list u-plain-list">
                        <li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-34"><a href="/">首页</a></li>
                        {% for category in categories %}
                        <li id="menu-item-85" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-85"><a href="/article/category/{{category.category.id}}">{{category.category.name}}</a>
                            <ul class="sub-menu">
                                {% for sub_category in category.sub_categories%}
                                <li id="menu-item-86" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-86"><a href="/article/category/{{sub_category.id}}">{{sub_category}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="main-search">
                    <form method="get" class="search-form inline" action="https://ww.aliwen.vip/">
                        <input type="search" class="search-field inline-field" placeholder="输入关键词，回车..."
                               autocomplete="off" value="" name="s" required="required">
                        <button type="submit" class="search-submit"><i class="mdi mdi-magnify"></i></button>
                    </form>
                    <div class="search-close navbar-button"><i class="mdi mdi-close"></i></div>
                </div>

                <div class="actions">
                    <!-- user -->
                    <div class="login-btn navbar-button"><i class="mdi mdi-account"></i> 登录</div>
                    <!-- user end -->
                    <div class="search-open navbar-button"><i class="mdi mdi-magnify"></i></div>
                    <div class="burger"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-gap"></div>
    <div class="site-content">
        <div class="content-area">
            <main class="site-main">
                <div class="section bgcolor-fff pt-0">
                    <div class="module slider center owl autoplay">
                        {% for carousel in carousel_article%}
                        <article class="post lazyload visible post-429 type-post status-publish format-standard has-post-thumbnail hentry category-des category-tool tag-ps tag-121 tag-81 tag-110" data-bg="{{carousel.article.cover}}">
                            <div class="entry-wrapper">
                                <header class="entry-header white">
                                    <div class="entry-meta">
                                        <span class="meta-author">
                                            <a href="aliwen.html"><img alt='' data-src='static/picture/1.png' class='lazyload avatar avatar-40 photo ' height='40' width='40'>{{carousel.article.author.nickname}}</a>
                                        </span>
                                        <span class="meta-category">
                                            {% for label in carousel.article.labels.all %}
                                            <a href="des.html" rel="category"><i class="dot"></i>{{label.name}}</a>
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <h2 class="entry-title">{{carousel.article.title}}</h2></header>
                                    <div class="entry-excerpt u-text-format">{{carousel.article.des}}</div>
                                    <div class="entry-footer">
                                    <a href=""><time datetime="2019-10-24T15:29:51+08:00"><i class="fa fa-clock-o"></i>{{carousel.article.create_time | date:'Y年m月d日'}}</time></a>
                                    <a href=""><span><i class="fa fa-eye"></i>{{carousel.article.view_count}}</span></a>
                                    <a href=""><span><i class="fa fa-star-o"></i>{{carousel.article.digg_count}}</span></a>
                                </div>
                            </div>
                            <a class="u-permalink" href="/article/detail/{{carousel.article.id}}"></a>
                        </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="section text-center pb-0">
                    <div class="alert alert-modern alert-dark">
                        <span class="badge badge-warning badge-pill"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;"><i class="fa fa-bell-o"></i> 通知 </font></font></span>
                        <span class="alert-content"><font style="vertical-align: inherit;">Aliwen小栈，一个服务于小众的聚集地，你喜欢的样子，这里都会有！</font></span>
                    </div>
                </div>
                <div class="section bgcolor-fff">
                    <div class="container">
                        <div class="module category-boxes owl">
                            <div class="category-box">
                                <div class="entry-thumbnails">
                                    <div class="big thumbnail">
                                        <h3 class="entry-title">诗与故事</h3>
                                        <img class="lazyload" data-src="static/picture/35bac3d2cdc2258.jpg">
                                    </div>
                                    <div class="small">
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/5d518828ff221e1.jpg">
                                        </div>
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/2e54cdc0dbc96b9.jpg">
                                            <span>+6</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="u-permalink" href="work.html"></a>
                            </div>
                            <div class="category-box">

                                <div class="entry-thumbnails">
                                    <div class="big thumbnail">
                                        <h3 class="entry-title">技术分享</h3>
                                        <img class="lazyload" data-src="static/picture/20662b13cbaa324.jpg">
                                    </div>
                                    <div class="small">
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/c1cd2837dfa5503.jpg">
                                        </div>
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/b7b69c2e8283e651.jpg">
                                            <span>+0</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="u-permalink" href="tech-2.html"></a>
                            </div>
                            <div class="category-box">

                                <div class="entry-thumbnails">
                                    <div class="big thumbnail">
                                        <h3 class="entry-title">生活腔调</h3>
                                        <img class="lazyload" data-src="static/picture/db7282901da891b.jpg">
                                    </div>
                                    <div class="small">
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/2e8405cbe1c0b02.jpg">
                                        </div>
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/dc4070e3e9a27f5.jpg">
                                            <span>+4</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="u-permalink" href="life-2.html"></a>
                            </div>
                            <div class="category-box">

                                <div class="entry-thumbnails">
                                    <div class="big thumbnail">
                                        <h3 class="entry-title">软件工具</h3>
                                        <img class="lazyload" data-src="static/picture/db7282901da891b.jpg">
                                    </div>
                                    <div class="small">
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/2e8405cbe1c0b02.jpg">
                                        </div>
                                        <div class="thumbnail">
                                            <img class="lazyload" data-src="static/picture/735572d3979764d.jpg">
                                            <span>+0</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="u-permalink" href="sygs.html"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-area">
                                    <main class="site-main">
                                        <!-- <h1 class="latest-title">最新文章</h1> -->
                                        <h3 class="section-title"><span><i class="fa fa-list-alt"></i> 最新文章</span></h3>
                                        <div class="row posts-wrapper">
                                            {% for article in new_articles %}
                                            <div class="col-sm-6 col-md-4 col-lg-3">
                                                <article id="post-128" class="post post-grid post-128 type-post status-publish format-standard has-post-thumbnail hentry category-life tag-85 tag-84 tag-83">
                                                    <div class="entry-media">
                                                        <div class="placeholder"
                                                             style="padding-bottom: 66.666666666667%;">
                                                            <a href="/article/detail/{{article.id}}"><img src="{{article.cover}}" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="entry-wrapper">
                                                        <a class="grid_author_avt" href="javascript:;"><div class="grid_author_bggo avatar bg-cover" style="background-image: url(../static/image/1.png);"></div></a>
                                                        <header class="entry-header">
                                                            <div class="entry-meta">
                                                                <span class="meta-category">
                                                                    {% for label in article.labels.all %}
                                                                    <a href="life.html" rel="category"><i class="dot"></i>{{ label.name }}</a>
                                                                    {% endfor %}
                                                                </span>
                                                            </div>
                                                            <h2 class="entry-title"><a href="/article/detail/{{article.id}}" rel="bookmark">{{article.title}}</a></h2>
                                                        </header>
                                                        <div class="entry-excerpt u-text-format">{{article.des}}</div>
                                                        <div class="entry-footer">
                                                            <a href="javascript:;"><time datetime="2019-07-25T13:51:09+08:00"><i class="fa fa-clock-o"></i> {{article.create_time| date:'Y年m月d日' }}</time></a>
                                                            <a href="javascript:;"><span><i class="fa fa-eye"></i> {{article.view_count}}</span></a>
                                                            <a href="javascript:;"><span><i class="fa fa-star-o"></i>{{article.comment_count}}</span></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-6">
                                <div class="uposts">
                                    <div class="codesign-list lazyload visible"
                                         data-bg="https://ww.aliwen.vip/wp-content/uploads/2019/07/20662b13cbaa324.jpg">
                                        <h4 class="codeisgn-h4"><i class="fa fa-circle-o"></i> <a href="design.html">技术分享&gt;</a></h4>
                                        <span class="codesign-esc"><p>好的东西值得描述内容</p></span>
                                        <div class="codesign-cover"></div>
                                    </div>
                                    <div class="hentry"><h2 class="title"><span class="post-num num-1">1</span><a
                                            href="263.html" title="【免费下载】手握手机PSD分成">【免费下载】手握手机PSD分成</a></h2>
                                        <div class="meta"><span>热度(230)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="uposts">
                                    <div class="codesign-list lazyload visible"
                                         data-bg="https://ww.aliwen.vip/wp-content/uploads/2019/07/ce08becc73195df.jpg">
                                        <h4 class="codeisgn-h4"><i class="fa fa-circle-o"></i> <a href="life-2.html">生活腔调
                                            &gt;</a></h4>
                                        <span class="codesign-esc"><p>好的东西值得描述内容</p></span>
                                        <div class="codesign-cover"></div>
                                    </div>
                                    <div class="hentry"><h2 class="title"><span class="post-num num-1">1</span><a
                                            href="381.html" title="一个人，吃过很多苦，一开口便能看出来!">一个人，吃过很多苦，一开口便能看出来!</a></h2>
                                        <div class="meta"><span>热度(103)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <h3 class="section-title">
                            <span><i class="fa fa-th"></i> <a href="tech-2.html">技术分享</a></span>
                        </h3>
                        <div class="row cat-posts-wrapper">
                            <div class="col-lg-6">
                                <article id="post-263"
                                         class="post post-list post-263 type-post status-publish format-image has-post-thumbnail hentry category-ui category-adver category-design category-tech tag-ui tag-81 post_format-post-format-image">
                                    <div class="entry-media">
                                        <div class="placeholder" style="padding-bottom: 66.666666666667%;">
                                            <a href="263.html">
                                                <img class="lazyload" data-src="static/picture/20662b13cbaa324.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="entry-wrapper">
                                        <header class="entry-header">
                                            <div class="entry-meta">
                                                <span class="meta-author">
                                                    <a href="aliwen.html"><img alt='文猪儿' data-src='static/picture/1.png' class='lazyload avatar avatar-40 photo ' height='40' width='40'>文猪儿</a>
                                                </span>
                                                <span class="meta-category">
                                                    <a href="ui.html" rel="category"><i class="dot"></i>UI设计</a>
                                                    <a href="adver.html" rel="category"><i class="dot"></i>广告设计</a>
                                                    <a href="design.html" rel="category"><i class="dot"></i>我爱设计</a>
                                                </span>
                                            </div>
                                            <h2 class="entry-title"><a href="263.html" rel="bookmark">【免费下载】手握手机PSD分成</a></h2>
                                        </header>
                                        <div class="entry-excerpt u-text-format">20个高分辨率女性手拿着iPhone X和Google Pixel 3 XL在透...</div>
                                        <div class="entry-footer">
                                            <a href="263.html"><time datetime="2019-08-12T15:25:31+08:00"><i class="fa fa-clock-o"></i>2019年8月12日</time></a>
                                            <a href="263.html"><span><i class="fa fa-eye"></i> 230</span></a>
                                            <a href="263.html"><span><i class="fa fa-star-o"></i> 2</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div><!-- end sitecoent -->


    <div class="module parallax">
        <img class="jarallax-img lazyload" data-srcset="static/picture/006a9a6fef68d47.jpg" data-sizes="auto"
             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
        <div class="container">
            <h4 class="entry-title">
                提供最优质的资源集合 </h4>
            <a class="button" href="index1.html">立即查看</a>
            <a class="button transparent" href="javascript:;">联系作者</a>
        </div>
    </div>


    <footer class="site-footer">
        <div class="container">

            <div class="footer-widget">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 widget--about">
                        <div class="widget--content">
                            <div class="footer--logo mb-20">
                                <img class="tap-logo" src="/static/picture/d72c2fe0ed4f457.png" data-dark=""
                                     alt="Aliwen小栈">
                            </div>
                            <p class="mb-10">
                                Aliwen一个90后小青年，热爱生活和旅游，喜欢冒险。爱自己，你要活得无可替代并精彩绝伦，世界那么大不如去看看它，人活着不只有眼前的苟且，还有诗和远方，以爱与青春为名，陪你一路成长，不失初心，不忘初衷!</p>
                        </div>
                    </div>
                    <!-- .col-md-2 end -->
                    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1 widget--links">
                        <div class="widget--title">
                            <h5>本站导航</h5>
                        </div>
                        <div class="widget--content">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">关于我们</a></li>
                                <li><a href="#">充值说明</a></li>
                                <li><a href="#">下载说明</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- .col-md-2 end -->
                    <div class="col-xs-12 col-sm-3 col-md-2 widget--links">
                        <div class="widget--title">
                            <h5>更多介绍</h5>
                        </div>
                        <div class="widget--content">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">隐私协议</a></li>
                                <li><a href="#">权限说明</a></li>
                                <li><a href="#">账户中心</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- .col-md-2 end -->
                    <div class="col-xs-12 col-sm-3 col-md-2 widget--links">
                        <div class="widget--title">
                            <h5 style='text-align:center'>微信公众号</h5>
                        </div>
                        <div class="widget--content">
                            <img src="static/picture/ca3af5e69a6da7d.jpg">
                        </div>
                    </div>

                    <!-- .col-md-2 end -->
                    <div class="col-xs-12 col-sm-3 col-md-2 widget--links">
                        <div class="widget--title">
                            <h5 style='text-align:center'>博客小程序</h5>
                        </div>
                        <div class="widget--content">
                            <img src="static/picture/44c6c370fd18593.jpg">
                        </div>
                    </div>


                </div>
            </div>
            <div class="site-info">
                © Aliwen小栈 ww.aliwen.vip
            </div>
        </div>
    </footer>

    <div class="rollbar">
        <div class="rollbar-item" etap="to_top"><i class="fa fa-angle-up"></i></div>
    </div>

    <div class="dimmer"></div>


    <div id="popup-signup" class="popup-signup fade" style="display: none;">
        <div class="register-login-modal" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#login" data-toggle="login">登录</a>
                        </li>
                        <li><a href="#signup" data-toggle="signup">注册</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="login">
                            <div class="signup-form-container text-center">
                                <form class="mb-0">
                                    <div class="open-oauth  text-center"><a href="qq.html" class="btn btn-qq"><i
                                            class="fa fa-qq"></i></a><a href="weixin.html" class="btn btn-weixin"><i
                                            class="fa fa-weixin"></i></a><a href="weibo.html" class="btn btn-weibo"><i
                                            class="fa fa-weibo"></i></a></div>
                                    <div class="or-text"><span>or</span></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="username" placeholder="*用户名或邮箱">
                                    </div>
                                    <!-- .form-group end -->
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="*密码">
                                    </div>
                                    <button type="button" class="go-login btn btn--primary btn--block">登录</button>
                                    <a href="#" class="forget-password">忘记密码?</a>
                                </form>
                                <!-- form  end -->
                            </div>
                            <!-- .signup-form end -->
                        </div>
                        <div class="tab-pane fade in" id="signup">
                            <form class="mb-0">
                                <div class="open-oauth  text-center"><a href="qq.html" class="btn btn-qq"><i
                                        class="fa fa-qq"></i></a><a href="weixin.html" class="btn btn-weixin"><i
                                        class="fa fa-weixin"></i></a><a href="weibo.html" class="btn btn-weibo"><i
                                        class="fa fa-weibo"></i></a></div>
                                <div class="or-text"><span>or</span></div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="user_name" placeholder="输入英文用户名">
                                </div>
                                <!-- .form-group end -->
                                <div class="form-group">
                                    <input type="email" class="form-control" name="user_email" placeholder="绑定邮箱">
                                </div>
                                <!-- .form-group end -->
                                <div class="form-group">
                                    <input type="password" class="form-control" name="user_pass" placeholder="密码最小长度为6">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="user_pass2" placeholder="再次输入密码">
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="captcha" placeholder="邮箱验证码">
                                        <span class="input-group-btn">
                                            <button class="go-captcha_email btn btn--secondary"
                                                    type="button">发送验证码</button>
                                          </span>
                                    </div>
                                </div>
                                <button type="button" class="go-register btn btn--primary btn--block">立即注册</button>

                            </form>
                            <!-- form  end -->
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>


    <div class="off-canvas">
        <div class="canvas-close"><i class="mdi mdi-close"></i></div>
        <div class="logo-wrapper">
            <a href="index.html">
                <img class="logo regular" src="static/picture/d72c2fe0ed4f457.png" alt="Aliwen小栈">
            </a>
        </div>
        <div class="mobile-menu hidden-lg hidden-xl"></div>
        <aside class="widget-area">
        </aside>
    </div>

    <div class="themepark_advertisement">
        <div id="themepark_advertisement_in" class="themepark_advertisement_in">
            <div class="themepark_advertisement_close"><div class="themepark_advertisement_close_in">X</div></div>
            <div id="themepark_advertisement_in_pc"><p><img class="aligncenter size-full wp-image-259" src="static/picture/a9a36d027aef1da.jpg" alt="" width="655" height="750"></p></div>
            <div id="themepark_advertisement_in_mo" class="themepark_advertisement_in_mo"><p><img class="aligncenter size-full wp-image-259" src="static/picture/a9a36d027aef1da.jpg" alt="" width="655" height="750"></p></div>
        </div>
        <div id="themepark_advertisement_ba" class="themepark_advertisement_ba"></div>
    </div>
    <script language="javascript" src="static/js/jquery.cookie.js"></script>
    <script>
        $(document).ready(function () {
            $(".themepark_advertisement_in").click(function () {
                $.cookie("themepark_advertisement", "donotopen");
            });

            $(".themepark_advertisement_close_in").click(function () {
                $(".themepark_advertisement").fadeOut();
            });
        });

    </script>
    <script type='text/javascript' src='static/js/poi.min-2.0.5.js'></script>
    <script type='text/javascript' src='static/js/sweetalert2.min-4.9.js'></script>
    <script type='text/javascript' src='static/js/plugins-4.9.js'></script>
    <script type='text/javascript' src='static/js/app-4.9.js'></script>
    <link rel="stylesheet" type="text/css" rel="external nofollow" target="_blank" href="static/css/sweetalert.min.css">
    <script src="static/js/sweetalert.min.js"></script>
    <script>document.body.oncopy = function () {
        swal("复制成功！", "转载请务必保留原文链接，申明来源，谢谢合作！！", "success");};</script>
    <script type='text/javascript' src="{% static 'js/mouse.js' %}"></script>
</div>
</body>
</html>
